/* You can add global styles to this file, and also import other style files */
body {
    /* unset default margin */
    margin: 0;
    background-color: tan;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}